.admin-container {
  display: grid;
  grid-template-rows: calc(100vh - 380px) auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "middle"
    "left"
    "right";
  gap: 10px;
  /* width: calc(100% - 20px); */
  max-width: 1280px;
  text-align: left;
}

.admin-container > div {
  padding: 10px;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #525252;
}

.admin-container h3 {
  text-align: center;
}

.admin-container .tabla {
  grid-area: middle;
}

.admin-container .left {
  grid-area: left;
  height: 250px;
}

.admin-container .right {
  grid-area: right;
  height: 250px;
}

@media (min-width: 600px) {
  .admin-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "middle middle"
      "left right";
  }
}

.admin-container .upload {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.admin-container .upload textarea {
  resize: none;
  width: 95%;
  height: 120px;
}

.admin-container .upload code {
  color: tomato;
  white-space: pre-wrap;
}
